<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<button ><a href="/celebrities/create">Create a celebrity</a></button>
<button ><a href="/celebrities">See all the Celebrities</a></button>
<button ><a href="/movies/create">Create a Movie</a></button>