<form action="/movies/create" method="POST">
    <label for="title">Title</label>
    <input type="text" name="name" id="title-input">
    <br>
    <label for="Genre">Genre :</label>
    <input type="text" name="Genre" id="title-input">
    <br>
    <label for="Plot">Plot :</label>
    <input type="text" name="Plot" id="title-input">
    <label for="Cast">Cast :</label>
    <input type="text" name="Cast" id="title-input">
    <br>
    <button type="submit"> Create Celebrity </button>
</form>
